@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	color: white;
}
body {
	background-color: black;
}
#assignedTasks::-webkit-scrollbar {
	display: none;
}

#taskList::-webkit-scrollbar {
	display: none;
}

